.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #013914;
  color: white;
  position: sticky;
  top: 0;
  &.active {
    background-color: white;
    color: black;
  }
  .container {
    width: 70vw;
    display: flex;
    justify-content: space-between;

    .logo {
      .text {
        font-size: 37px;
        font-weight: 270px;
      }
      .dot {
        color: green;
      }
    }

    .links {
      display: flex;
      gap: 30px;
      align-items: center;
      font-weight: 500;
      button {
        color: white;
        padding: 10px 20px;
        border-radius: 3px;
        border: 1px solid white;
        cursor: pointer;
        background-color: transparent;

        &:hover {
          background-color: black;
        }
      }
    }
  }
  hr {
    width: 100vw;
    height: 0;
    border: 20 solid lightgray;
  }

  .menu {
    width: 70vw;
    display: flex;
    justify-content: start;
    gap: 20px;
  }
}
